/* 
=======================
Normalize, imports
=======================
*/
/* @import './normalize.css'; */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap"); /* 
=======================
Variables
=======================
*/

:root {
  /* Colors */
  --clrBlue: #424c6e;
  --clrLightBlue: #b0cbd3;
  --clrLightGreen: #8ba5a4;
  --clrOrange: #f0bb98;
  --clrLightOrange: #e7c7a7;

  --white: #ffffff;
  --black: #000000;
  --lightBlack: #585858;

  /* Fonts */
  --headlineFont: "Oswald", sans-serif;
  --bodyFont: "Roboto Slab", serif;

  /* Misc */
  --max-width: 1170px;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
/* 
=======================
Global styles
=======================
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--bodyFont);
  color: var(--clrBlue);
}
h1,
h2,
h3,
h4 {
  /* letter-spacing: var(--spacing); */
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--headlineFont);
  font-weight: 400;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1rem;
}
p {
  margin-bottom: 1.25rem;
  /* color: var(--clr-grey-5); */
}
img {
  width: 100%;
  display: block;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
.btn {
  text-transform: uppercase;
  background: var(--clrOrange);
  color: var(--clrBlue);
  padding: 0.5rem 0.875rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: var(--dark-shadow);
  border-radius: var(--radius);
}
.btn:hover {
  background: var(--clrLightOrange);
  box-shadow: var(--light-shadow);
}
.underline {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background: var(--clrLightGreen);
  margin-left: auto;
  margin-right: auto;
}
/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
.social-icons {
  display: flex;
  justify-content: space-between;
  width: 20rem;
  margin-top: 3rem;
}
.social-icon {
  color: var(--clrBlue);
  font-size: 1.5rem;
  transition: var(--transition);
}
.social-icon:hover {
  color: var(--clrLightGreen);
}
/* 
=======================
Hero section
=======================
*/
.hero {
  background: var(--clrLightBlue);
}
.hero .underline {
  margin-bottom: 0.5rem;
  margin-left: 0;
}
.hero-image-container {
  display: none;
}
.hero-center {
  /* TODO: calculate height based on top nav here */
  /* min-height: calc(100vh - 5rem); */
  min-height: 100vh;
  /* remove line above after calculated */
  display: grid;
  place-items: center;
  column-gap: 2rem;
  
}
.hero-icons {
  justify-items: start;
}
.hero-btn {
  margin-top: 1.25rem;
  padding: 0.75rem 1rem;
}
@media screen and (min-width: 992px) {
  .hero-image-container {
    display: block;
    position: relative;
  }
  .hero-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .hero-image-container::before {
    content: "";
    position: absolute;
    border: .25rem solid var(--clrBlue);
    border-radius: var(--radius);
    width: 100%;
    height: 100%;
    top: 2rem;
    left: 2rem;
  }
  .hero-center {
    width: 75vw;
  }
}
.hero-image {
  max-width: 20rem;
  max-height: 25rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--radius);
  position: relative;
}
